.heading-1 {
  font-family: var(--font-primary);
  font-size: 6.4rem;
  font-weight: 900;
  color: var(--color-primary); }

.heading-2 {
  font-family: var(--font-primary);
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-primary); }

.heading-3 {
  font-family: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-primary); }

.heading-5 {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary); }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(0.2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(0.2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: translateY(120rem); }
  30% {
    transform: scale(0.2); }
  50% {
    transform: translateY(0.2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

:root {
  --font-primary: "Oswald", sans-serif;
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #f2c48c;
  --color-quaternary: #6f6150; }

html {
  font-size: 62.5%; }

body {
  max-width: 120rem; }
  body > * {
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--color-primary); }

.container {
  display: grid;
  grid-template-rows: 100vh; }

main {
  grid-column: 1/ -1;
  grid-row: 2/6; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0; }

.navigation {
  grid-column: 2/ -1;
  grid-row: 1 / span 1;
  align-items: center; }
  .navigation__logo {
    grid-column: 1 / span 10;
    justify-self: start;
    height: auto;
    max-width: 100%; }
  .navigation__list {
    display: none; }

.medailon {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  justify-self: left;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  position: relative;
  animation: moveUp 2s;
  backface-visibility: hidden; }
  .medailon__text {
    color: var(--color-secondary);
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.button {
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 600;
  border-radius: 0.3rem;
  letter-spacing: 0.3rem;
  white-space: nowrap;
  text-transform: uppercase;
  transition: transform 0.2s; }
  .button:link, .button:focus {
    text-decoration: none; }
  .button:hover {
    transform: translateY(-0.2rem); }
  .button:active {
    transform: translateY(0.2rem); }
  .button--animated {
    animation: moveInFromRight 1.5s; }

.date-box {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-quaternary);
  cursor: pointer;
  border-radius: 3px;
  padding: 1rem; }
  .date-box--active {
    background-color: var(--color-quaternary); }

.menu {
  grid-column: 2 / 12;
  grid-row: 7 / span 1;
  display: grid;
  grid-column: repeat(2, 1fr);
  padding: 2rem 1rem;
  border: 1px solid var(--color-primary); }
  .menu__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-transform: uppercase; }
  .menu__icon {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    height: 4rem;
    max-width: 100%;
    justify-self: end; }
  .menu__list {
    grid-column: 1 / span 2; }
  .menu__item {
    hyphens: auto;
    margin-top: 1rem;
    list-style-position: inside;
    list-style-type: 1;
    text-indent: -1em;
    padding-left: 1em; }
    .menu__item span {
      color: var(--color-tertiary); }

.soups {
  grid-column: 2 / 12;
  grid-row: 8 / span 1;
  align-self: start;
  border: 1px solid var(--color-primary);
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem; }
  .soups__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    white-space: nowrap; }
  .soups__icon {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end; }
  .soups__table {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1; }
    .soups__table td {
      white-space: nowrap; }

.soups-info {
  grid-column: 2 / 12;
  grid-row: 9 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--color-primary);
  padding: 2rem 0;
  line-height: 2; }
  .soups-info span {
    color: var(--color-tertiary); }

.infobox {
  max-width: 37.5rem;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  border: 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .infobox__phone {
    color: var(--color-tertiary);
    font-size: 2.2rem; }
  .infobox__mail {
    color: var(--color-tertiary);
    font-size: 2rem; }
  .infobox__address {
    white-space: nowrap; }

.social {
  max-width: 37.5rem;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .social__facebook, .social__instagram {
    height: 4rem;
    max-width: 100%; }
  .social__message {
    height: 5rem;
    max-width: 100%; }

.header {
  grid-row: 1 / span 1;
  background-image: url(../img/header.png);
  background-position: top;
  background-size: auto;
  display: grid;
  padding: 2rem 0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content max-content max-content 1fr;
  row-gap: 3.5rem; }
  .header__heading {
    align-self: end;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    width: 85%;
    text-align: left;
    font-size: 2.5rem;
    animation: moveInFromLeft 1.5s;
    backface-visibility: hidden; }
  .header__button {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: start; }

.weekly {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem 0;
  background-color: var(--color-secondary);
  row-gap: 2rem; }
  .weekly__header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    white-space: nowrap; }
  .weekly__text {
    columns: 1;
    hyphens: auto;
    text-align: left;
    grid-column: 2 / 12;
    color: var(--color-primary); }
    .weekly__text-1 {
      grid-row: 2 / span 1; }
    .weekly__text-2 {
      grid-row: 3 / span 1; }
    .weekly__text--yellow {
      color: var(--color-tertiary); }
    .weekly__text--uppercase {
      text-transform: uppercase; }
  .weekly__box-1 {
    grid-column: 2 / 12;
    grid-row: 4 / span 1; }
  .weekly__box-2 {
    grid-column: 2 / 12;
    grid-row: 5 / span 1; }
  .weekly__button {
    grid-column: 2/ 12;
    grid-row: 6 / span 1;
    text-align: center; }

.delivery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--color-secondary);
  row-gap: 3rem;
  padding: 2rem 0; }
  .delivery__header {
    grid-column: 2 / 12;
    grid-row: 1 / span 1; }
  .delivery__text {
    grid-column: 2 / 12;
    grid-row: 2 / span 1; }
    .delivery__text span {
      color: var(--color-tertiary); }
  .delivery__button {
    grid-column: 2 / 12;
    grid-row: 3 / span 1;
    text-align: center; }

.delivery-menu {
  border: 1px solid var(--color-primary);
  grid-column: 2 / 12;
  grid-row: 4 / span 1;
  display: grid;
  row-gap: 1rem;
  padding: 2rem 1rem;
  grid-template-columns: repeat(1, 1fr); }
  .delivery-menu__header {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 1.4rem;
    justify-self: center; }
  .delivery-menu__icon {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-self: center; }
  .delivery-menu__list {
    grid-column: 1 / span 2;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em; }
  .delivery-menu__item {
    hyphens: auto; }
    .delivery-menu__item span {
      color: var(--color-tertiary); }

.drink {
  background-image: url("../img/drink.png");
  background-position: top;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 2rem;
  row-gap: 2rem; }
  .drink__header {
    white-space: nowrap;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    text-align: center; }

.cta {
  grid-row: 2 / span 1;
  grid-column: 2 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.news {
  background-image: url(../img/news.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1rem; }
  .news__header {
    color: var(--color-secondary);
    grid-row: 1 / span 1;
    grid-column: 1/ -1;
    text-align: center; }
  .news__card1 {
    grid-row: 2 / span 1;
    grid-column: 1 / -1; }
  .news__card2 {
    grid-row: 3 / span 1;
    grid-column: 1 / -1; }

.card {
  background-color: var(--color-primary);
  hyphens: auto;
  border-radius: 3px;
  max-width: 51rem; }
  .card__img {
    height: auto;
    max-width: 100%; }
  .card__header {
    padding: 0 1rem;
    color: var(--color-secondary);
    text-align: left; }
  .card__text {
    padding: 1rem;
    color: var(--color-secondary); }

.footer {
  background-color: var(--color-secondary);
  grid-column: 1/ -1;
  grid-row: 6 / span 1;
  padding: 1rem;
  display: grid;
  row-gap: 3rem; }
  .footer__header {
    grid-row: 1 / span 1;
    grid-column: 1/ -1;
    text-align: center; }
  .footer__map {
    height: 20rem;
    max-width: 100%;
    grid-row: 4 / span 1; }
  .footer__bottom {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }

.createdby {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
