.weekly {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem 0;
    background-color: var(--color-secondary);
    row-gap: 2rem;
    &__header {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        white-space: nowrap;
    }
    &__text {
        columns: 1;
        hyphens: auto;
        text-align: left;
        grid-column: 2 / 12;
        color: var(--color-primary);
        &-1 {
            grid-row: 2 / span 1;
        }
        &-2 {
            grid-row: 3 / span 1;
        }
        &--yellow {
            color: var(--color-tertiary);
        }
        &--uppercase {
            text-transform: uppercase;
        }
    }
    &__box-1 {
        grid-column: 2 / 12;
        grid-row: 4 / span 1;
        @include respond(777) {
            grid-row: 4 / span 1;
            grid-column: 2 / 4;
        }
    }
    &__box-2 {
        grid-column: 2 / 12;
        grid-row: 5 / span 1;
        @include respond(777) {
            grid-row: 4 / span 1;
            grid-column: 5 / 10;
        }
    }
    &__button {
        grid-column: 2/ 12;
        grid-row: 6 / span 1;
        text-align: center;
        @include respond(777) {
            grid-row: 4 / span 1;
            grid-column: 11 / span 1;
        }
    }
}