.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-quaternary);
    cursor: pointer;
    border-radius: 3px;
    padding: 1rem;
    @include respond(777) {
        max-width: 35rem;
    }
    &--active {
        background-color: var(--color-quaternary);
    }
}