.medailon {
    padding: 5rem;
    @include respond(777) {}
    @include respond(999) {}
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;
    backface-visibility: hidden;
    &__text {
        color: var(--color-secondary);
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        @include respond(999) {
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
        }
        font-weight: 700;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}