.navigation {
    grid-column: 2/ -1;
    grid-row: 1 / span 1;
    align-items: center;
    &__logo {
        grid-column: 1 / span 10;
        justify-self: start;
        height: auto;
        max-width: 100%;
    }
    &__list {
        display: none;
    }
    &__item {}
}