:root {
    --font-primary: "Oswald", sans-serif;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-tertiary: #f2c48c;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

body {
    >* {
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.6;
        font-size: 1.6rem;
    }
}

.container {
    display: grid;
    grid-template-rows: 90vh 70vh 60vh 50vh 60vh 60vh;
}

main {
    grid-column: 1/ -1;
    grid-row: 2/6;
}