:root {
    --font-primary: "Oswald", sans-serif;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-tertiary: #f2c48c;
    --color-quaternary: #6f6150;
}

html {
    font-size: 62.5%;
}

body {
    >* {
        font-family: var(--font-primary);
        font-weight: 300;
        line-height: 1.6;
        font-size: 1.6rem;
        color: var(--color-primary);
    }
}

.container {
    display: grid;
    grid-template-rows: 100vh 100vh 60vh 50vh 60vh 60vh;
}

main {
    grid-column: 1/ -1;
    grid-row: 2/6;
}